# Joining together station data, and then filtering
In this file, all station data will be joined in accordance to their station. Following this, the data will be filtered. FInally, All data will be combined to one table.

## Imports and changing directory
Ensure your directory is set to the Police Data folder!

In [ ]:
#install libaries to kernel if have not already done so
%pip install numpy
%pip install pandas

In [17]:
#use this code to change the current directory (IMPORTANT)
new_path = r'C:\Users\rahma\Documents\Rockborne\week 6_Python_Pandas\project\Police_data1'
os.chdir(new_path)

In [18]:
#Use this to check which directory your notebook is on
import os
print(f"My notebook's current directory i: {os.getcwd()}")

My notebook's current directory i: C:\Users\rahma\Documents\Rockborne\week 6_Python_Pandas\project\Police_data1

In [5]:
import pandas as pd
import glob
import numpy as np

### Joining and then filtering Hertfordshire data

In [21]:

#Joining Hertfordshire data

#stores a list of all the Hertfordshire files (including the filepath)
Hert_files = glob.glob(os.path.join(new_path, "**", "*hertfordshire-street.csv"), recursive=True)

#Initialise a list, which will store all the datasets
li1 = []

#read each file and then add each dataset as an element to the list li1
for filename in Hert_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li1.append(df)

Hertfordshire_data = pd.concat(li1, axis=0, ignore_index=True)

In [7]:
Hertfordshire_data.columns

Index(['Crime ID', 'Month', 'Reported by', 'Falls within', 'Longitude',
       'Latitude', 'Location', 'LSOA code', 'LSOA name', 'Crime type',
       'Last outcome category', 'Context'],
      dtype='object')

In [22]:
#Data cleaning of Hertfordshire_data

#Raw data copy
Hert_orig_data = Hertfordshire_data.copy()

#standardizing null values
Hertfordshire_data.replace(['?', 'NULL', 'NA', ''], np.nan, inplace=True)

#removing rows with no Location
Hertfordshire_data = Hertfordshire_data.query("Location != 'No Location'")

#deleting Falls within column and context column
Hertfordshire_data.drop('Context',axis=1,inplace=True)
Hertfordshire_data.drop('Falls within',axis=1,inplace=True)

#converting month column to datetime
#IMPORTANT: WE MAKE THE ASSUMPTION THAT ALL CRIMES TOOK PLACE ON THE FIRST DAY OF THE MONTH
Hertfordshire_data['Month'] = pd.to_datetime(Hertfordshire_data['Month'])

#filling blank crime IDS
Hertfordshire_data['Crime ID'] = Hertfordshire_data['Crime ID'].fillna('NoCrimeID')

#Filling null outcomes with 'not available'
Hertfordshire_data['Last outcome category'] = Hertfordshire_data['Last outcome category'].fillna('not available')


#----------------------------------------------------------------------------------------
#Applying LSOA filter

Hert = ['Broxbourne', 'Dacorum', 'East Hertfordshire','Hertsmere','North Hertfordshire',
                'St Albans','Stevenage','Three Rivers','Watford','Welwyn Hatfield']

Hert_filter = '|'.join(Hert)

Hertfordshire_data = Hertfordshire_data[Hertfordshire_data['LSOA name'].str.contains(Hert_filter, case=False, na=False)]

In [23]:
#Check for discrepencies in crime type column
print(Hertfordshire_data['Crime type'].value_counts())
print(Hertfordshire_data['Crime type'].nunique())

Crime type
Violence and sexual offences    60946
Anti-social behaviour           50952
Other theft                     17851
Shoplifting                     17829
Vehicle crime                   14944
Criminal damage and arson       14799
Public order                     9061
Burglary                         7899
Drugs                            4324
Other crime                      3445
Theft from the person            2084
Bicycle theft                    1974
Robbery                          1884
Possession of weapons            1465
Name: count, dtype: int64
14

### Joining and then filtering Bedfordshire data

In [24]:
#Joining Bedfordshire data


Bed_files = glob.glob(os.path.join(new_path, "**", "*bedfordshire-street.csv"), recursive=True)

li2 = []

for filename in Bed_files:
    df2 = pd.read_csv(filename, index_col=None, header=0)
    li2.append(df2)

Bedfordshire_data = pd.concat(li2, axis=0, ignore_index=True)

In [25]:
#Data cleaning of Bedfordshire_data

#Raw data copy
Bed_orig_data = Bedfordshire_data.copy()

#standardizing null values
Bedfordshire_data.replace(['?', 'NULL', 'NA', ''], np.nan, inplace=True)

#removing rows with no Location
Bedfordshire_data = Bedfordshire_data.query("Location != 'No Location'")

#deleting Falls within column and context column
Bedfordshire_data.drop('Context',axis=1,inplace=True)
Bedfordshire_data.drop('Falls within',axis=1,inplace=True)

#converting month column to datetime
#IMPORTANT: WE MAKE THE ASSUMPTION THAT ALL CRIMES TOOK PLACE ON THE FIRST DAY OF THE MONTH
Bedfordshire_data['Month'] = pd.to_datetime(Bedfordshire_data['Month'])

#filling blank crime IDS
Bedfordshire_data['Crime ID'] = Bedfordshire_data['Crime ID'].fillna('NoCrimeID')

#Filling null outcomes with 'not available'
Bedfordshire_data['Last outcome category'] = Bedfordshire_data['Last outcome category'].fillna('not available')


#----------------------------------------------------------------------------------------
#Applying LSOA filter

Bed = [
    'Bedford',
    'Central Bedfordshire',
    'Luton'
]
#joined to '|' as | is read as 'or'
Bed_filter = '|'.join(Bed)

Bedfordshire_data = Bedfordshire_data[Bedfordshire_data['LSOA name'].str.contains(Bed_filter, case=False, na=False)]

In [ ]:
#Check for discrepencies in crime type column
print(Bedfordshire_data['Crime type'].value_counts())
print(Bedfordshire_data['Crime type'].nunique())

### Joining and then filtering Surrey data

In [26]:
#Joining Surrey data


Surrey_files = glob.glob(os.path.join(new_path, "**", "*surrey-street.csv"), recursive=True)

li3 = []

for filename in Surrey_files:
    df3 = pd.read_csv(filename, index_col=None, header=0)
    li3.append(df3)

Surrey_data = pd.concat(li3, axis=0, ignore_index=True)

In [27]:
#Data cleaning of Surrey_data

#Raw data copy
Surrey_orig_data = Surrey_data.copy()

#standardizing null values
Surrey_data.replace(['?', 'NULL', 'NA', ''], np.nan, inplace=True)

#removing rows with no Location
Surrey_data = Surrey_data.query("Location != 'No Location'")

#deleting Falls within column and context column
Surrey_data.drop('Context',axis=1,inplace=True)
Surrey_data.drop('Falls within',axis=1,inplace=True)

#converting month column to datetime
#IMPORTANT: WE MAKE THE ASSUMPTION THAT ALL CRIMES TOOK PLACE ON THE FIRST DAY OF THE MONTH
Surrey_data['Month'] = pd.to_datetime(Surrey_data['Month'])

#filling blank crime IDS
Surrey_data['Crime ID'] = Surrey_data['Crime ID'].fillna('NoCrimeID')

#Filling null outcomes with 'not available'
Surrey_data['Last outcome category'] = Surrey_data['Last outcome category'].fillna('not available')


#----------------------------------------------------------------------------------------
#Applying LSOA filter

Surrey =[
    'Elmbridge',
    'Epsom and Ewell',
    'Guildford',
    'Mole Valley',
    'Reigate and Banstead',
    'Runnymede',
    'Spelthorne',
    'Surrey Heath',
    'Tandridge',
    'Waverley',
    'Woking'
]

Surrey_filter = '|'.join(Surrey)


Surrey_data = Surrey_data[Surrey_data['LSOA name'].str.contains(Surrey_filter, case=False, na=False)]

In [ ]:
#Check for discrepencies in crime type column
print(Surrey_data['Crime type'].value_counts())
print(Surrey_data['Crime type'].nunique())

### Joining and then filtering Kent data

In [28]:
#Joining Kent data


Kent_files = glob.glob(os.path.join(new_path, "**", "*kent-street.csv"), recursive=True)

li4 = []

for filename in Kent_files:
    df4 = pd.read_csv(filename, index_col=None, header=0)
    li4.append(df4)

Kent_data = pd.concat(li4, axis=0, ignore_index=True)

In [29]:
#Data cleaning of Kent_data

#Raw data copy
Kent_orig_data = Kent_data.copy()

#standardizing null values
Kent_data.replace(['?', 'NULL', 'NA', ''], np.nan, inplace=True)

#removing rows with no Location
Kent_data = Kent_data.query("Location != 'No Location'")

#deleting Falls within column and context column
Kent_data.drop('Context',axis=1,inplace=True)
Kent_data.drop('Falls within',axis=1,inplace=True)

#converting month column to datetime
#IMPORTANT: WE MAKE THE ASSUMPTION THAT ALL CRIMES TOOK PLACE ON THE FIRST DAY OF THE MONTH
Kent_data['Month'] = pd.to_datetime(Kent_data['Month'])

#filling blank crime IDS
Kent_data['Crime ID'] = Kent_data['Crime ID'].fillna('NoCrimeID')

#Filling null outcomes with 'not available'
Kent_data['Last outcome category'] = Kent_data['Last outcome category'].fillna('not available')


#----------------------------------------------------------------------------------------
#Applying LSOA filter

Kent =[
    'Ashford',
    'Canterbury',
    'Dartford',
    'Dover',
    'Folkestone and Hythe',
    'Gravesham',
    'Maidstone',
    'Medway',
    'Sevenoaks',
    'Swale',
    'Thanet',
    'Tonbridge and Malling',
    'Tunbridge Wells'
]

Kent_filter = '|'.join(Kent)


Kent_data = Kent_data[Kent_data['LSOA name'].str.contains(Kent_filter, case=False, na=False)]

In [30]:
#Check for discrepencies in crime type column
print(Kent_data['Crime type'].value_counts())
print(Kent_data['Crime type'].nunique())

Crime type
Violence and sexual offences    151201
Anti-social behaviour            56084
Criminal damage and arson        37361
Shoplifting                      30286
Other theft                      26904
Public order                     20077
Vehicle crime                    19437
Burglary                         12542
Other crime                      11197
Drugs                            10747
Possession of weapons             3413
Bicycle theft                     2300
Robbery                           2215
Theft from the person             2026
Name: count, dtype: int64
14

## Joining all the police data to one table

In [31]:
#Combining all the data together

Police_data = pd.concat([Bedfordshire_data,Kent_data,Hertfordshire_data,Surrey_data],axis=0, ignore_index=True)

## Adding district column to the data
This step is carried out as a column identifying the disctrict for each row will allow for data to be grouped by district.

In [ ]:
# A list of all the districts in all the counties
district =[
    # Bedfordshire
    'Bedford',
    'Central Bedfordshire',
    'Luton',
    # Hertfordshire
    'Broxbourne',
    'Dacorum',
    'East Hertfordshire',
    'Hertsmere',
    'North Hertfordshire',
    'St Albans',
    'Stevenage',
    'Three Rivers',
    'Watford',
    'Welwyn Hatfield',
    # Surrey
    'Elmbridge',
    'Epsom and Ewell',
    'Guildford',
    'Mole Valley',
    'Reigate and Banstead',
    'Runnymede',
    'Spelthorne',
    'Surrey Heath',
    'Tandridge',
    'Waverley',
    'Woking',
    # Kent
    'Ashford',
    'Canterbury',
    'Dartford',
    'Dover',
    'Folkestone and Hythe',
    'Gravesham',
    'Maidstone',
    'Medway',
    'Sevenoaks',
    'Swale',
    'Thanet',
    'Tonbridge and Malling',
    'Tunbridge Wells'
]

# Initialising an empty district column
Police_data['District'] = np.nan

# For loop to add the correct district to the district column for each row
for i in district:
    district_filter = Police_data['LSOA name'].str.contains(i, na=False, case=False) #st.contains lets us search for the mention of a particular district in LSOA name.
    Police_data.loc[district_filter, 'District'] = i

C:\Users\rahma\AppData\Local\Temp\ipykernel_28760\1818137376.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Bedford' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  Police_data.loc[district_filter, 'District'] = i

### Creating an output file for the police data

In [39]:
Police_data.to_csv('Police_data_main1.csv')